*{
	margin: 0;
	padding: 0;
}
.logo{
	width: 100%;
	text-align: center;
	margin: 30px 0;
}
.logo img{
	width: 80px;
}
.logo h3{
	font-size: 24px;
	letter-spacing: 3px;
}
video{
	display: block;
	margin: auto;
}
.about{
	width: 1200px;
	margin: auto;
}
.title h3{
	font-size: 22px;
	margin-bottom: 20px;
	border-left: 5px solid #333;
	padding-left: 5px;
}
.about-box{
	display: flex;
	justify-content: space-between;
}
.about-box img{
	width: 500px;
	height: 260px;
	object-fit: cover;
}
.about-box p{
	width: 650px;
	line-height: 1.8;
	text-indent: 2em;
	margin-bottom: 15px;
}
.js{
	width: 1200px;
	margin: 20px auto;
}
.js-box ul{
	display: flex;
	justify-content: space-between;
}
.js-box ul li{
	list-style: none;
	width: 23%;
}
.js-box ul li img{
	width: 100%;
	border: 1px solid #cccccc;
}
.js-box ul li h4{
	font-size: 18px;
	margin: 10px 0 5px 0;
	color: #333333;
}
.js-box ul li p{
	font-size: 14px;
	color: #777777;
}